@import url("./public/fonts/fonts.css");

body{
    background-color: rgb(251, 227, 227);
}
/* Slide Bar */
#imageRefer
{
    position:relative;
    z-index: 1;
}

/* styling timings and contact */
#contact{
    display:flex ;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    gap:3rem;
    position: fixed;  
    top:0;
    width: 100%;
    z-index: 1000;     
    background: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

.contact-no,.weekdays-time,.weekends-time{
    color: rgb(233, 177, 196);
}

#contact div{
    display:flex;
    flex-direction: row;
    padding-top: 0.5rem;
}

#telephone{
    width: 30px;
    height: 25px;
}

.weekdays-time i,.weekends-time i{
    color: #f43d80 !important;
}

.weekdays-time,.weekends-time{
    gap: 0.5rem;
}

/* styling navbar*/
#main-nav{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    position:fixed;
    top:3rem;
    width: 100%;
    z-index: 1000;     
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));    
}

.brand-name{
    padding: 0rem;
}

.nav-brand{
    font-family:'Nicholas';
    padding-left: 1rem;
    text-decoration: none;
    font-size:xx-large;
    color: rgb(200, 15, 77);
}

.nav-locate{
    padding:0rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-right: 2rem;
}

.nav-locate a{
    text-decoration: none;
    padding-top: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(199, 49, 99);
}

.nav-locate button{
    border-radius: 1rem;
    background-color: rgb(110, 8, 42);
    color: rgb(222, 172, 186);
    border:0rem;
}

/* About Section */

#about{
    padding:5rem;
    background: linear-gradient(to bottom, rgb(255, 159, 159), rgb(251, 227, 227));
}

.about-container{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    gap:2rem;
    padding:2rem;
}

/* Vedio styling */

.about-video video{
    width: 300px;
    border-radius: 15px;
}

/* About Text Styling */

.about-text{
    color:grey;
    font-size: large;
    max-width: 500px;
}
.about-text h1{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large;
}

/* Menu */

/* Menu heading */

.menu-heading{
    text-align: center;
}

.menu-heading h1{
    color: rgba(71, 6, 20, 0.793);
    font-family: 'Times New Roman', Times, serif;
}
.menu-heading h5{
    color: rgba(119, 52, 66, 0.625);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Menu Navbar */

.items-locate{
    display: flex;
    justify-content:space-evenly;
}
.items-locate a{
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius:30px;
    color: rgba(221, 116, 146, 0.989);
}

/* Menu Table */

.menu-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    margin-top: 2rem;
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    box-shadow:0 10px 8px rgba(0,0,0,0.2);
}

.items-locate a{
    cursor: pointer;
}

.menu-item{
    display: flex;
    flex:1 1 45%;
    min-width: 150px;
    color: rgb(177, 82, 97);
    font-size: large;
    white-space:pre;
}
.menu-item span,.sig-item span{
    padding: 1rem;
    margin-top: 5px;
}
.menu-icon{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.signature h4{
    margin:2rem 0rem;
    color: rgb(172, 1, 66);
}

.sig-item{
    color: rgb(208, 80, 118);
    padding-bottom:2rem;
    margin-bottom: 0;
    font-size: 18px;
    margin-left: 1rem;
}

.dishes{
    margin-top: 0.2rem;   /* reduce space */
    padding-top: 0;
    margin-right: 4rem;
    line-height: 1.3;
    color: rgb(238, 135, 171);
}
/* Events Editing */

.event-container{
    position: relative;
    min-height: 720px;
    background-image: url("public/images/event.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#event{
    position:relative;
    overflow: hidden;
}
.event-carousel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255); 
    z-index: 2;
    text-align: center;
}

.event-slides-container{
    background: rgba(0, 0, 0, 0.303);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.248);
    max-width: 700rem;
    max-height: 250rem;
}
.event-slide{
    padding: 0rem 6rem;
}
.event-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.event-content img{
    object-fit: cover;
    max-width: 500px;
    max-height: 350px;
    border-radius: 20px;
    border: 3px solid white;
}

.event-text h6, p{
    text-align:start;
    width: 700px;
}
.event-types{
    margin: 2rem;
}